:root {
  --professionBarHeight: 44px;
  --transitionDelay: 500ms;
}

/* ProfessionBar */
.professionbar-enter {
  height: 0px;
}
.professionbar-enter-active {
  --h: var(--professionBarHeight);
  
  height: var(--h);
  transition: all var(--transitionDelay) ease-in-out;
}
.professionbar-exit {
  --h: var(--professionBarHeight);
  
  height: var(--h);
}
.professionbar-exit-active {
  height: 0px;
  transition: all var(--transitionDelay) ease-in-out;
}


/* ProfessionBar buttons */
.professionbarbutton-enter {
  opacity: 0;
  visibility: hidden;
}
.professionbarbutton-enter-active {
  opacity: 0;
  transition: all var(--transitionDelay);
}

.professionbarbutton-exit {
  opacity: 1;
  visibility: visible;
}
.professionbarbutton-exit-active {
  opacity: 0;
  transition: all var(--transitionDelay);
}


/* RealmSelector on Bottom*/
.realmselectorbottom-enter {
  top: 100%;
}
.realmselectorbottom-enter-active {
  top: 0;
  transition: all var(--transitionDelay) ease-in-out;
}

.realmselectorbottom-exit {
  top: 0;
}
.realmselectorbottom-exit-active {
  top: 100%;
  transition: all var(--transitionDelay) ease-in-out;
}


/* RealmSelector on Top*/
.realmselectortop-enter {
  bottom: 100%;
}
.realmselectortop-enter-active {
  bottom: 0;
  transition: all var(--transitionDelay) ease-in-out;
}

.realmselectortop-exit {
  bottom: 0;
}
.realmselectortop-exit-active {
  bottom: 100%;
  transition: all var(--transitionDelay) ease-in-out;
}