:root {
  --transitionDelay: 500ms;
  --professionBarHeight: 48px;
}

/* ProfessionBar */
.professionbar-enter {
  height: 0px;
}
.professionbar-enter-active {
  --h: var(--professionBarHeight);
  
  height: var(--h);
  transition: all var(--transitionDelay) ease-in-out;
}
.professionbar-exit {
  --h: var(--professionBarHeight);
  
  height: var(--h);
}
.professionbar-exit-active {
  height: 0px;
  transition: all var(--transitionDelay) ease-in-out;
}


/* ProfessionBar buttons */
.professionbarbutton-enter {
  opacity: 0;
  visibility: hidden;
}
.professionbarbutton-enter-active {
  opacity: 0;
  transition: all var(--transitionDelay);
}

.professionbarbutton-exit {
  opacity: 1;
  visibility: visible;
}
.professionbarbutton-exit-active {
  opacity: 0;
  transition: all var(--transitionDelay);
}